div {
  background-color: beige;
  border-radius: 80px;
  img {
    width: 25vw;
    border-radius: 80px;
    border: 2px solid black;
  }

  h1 {
    color: black;
    font-size: 3vw;
  }

  p {
    color: black;
    width: 30vw;
    font-size: 1vw;
  }
}
